.page {
    background-color: #C4C4C4 !important;
}

img {
    border-radius: 50%;
    box-shadow: 0 0 1em black;
}

h1 {
    color: #002135;
}

a {
    text-decoration: none;
    color: #00E75B !important;
}

